{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="text-center mt-3 mb-4">FilmFlix</h1>

    <div class="text-center mb-4">
        <a class="btn btn-primary" href="{{ url_for('add') }}">Add Film</a>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-striped text-center">
            <thead class="thead-dark">
                <tr>
                    <th style="width: 200px;">Title</th>
                    <th>Film ID</th>
                    <th>Year Released</th>
                    <th>Rating</th>
                    <th>Duration</th>
                    <th>Genre</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for film in films %}
                <tr>
                    <td style="width: 300px;">{{ film['title'] }}</td>
                    <td>{{ film['filmID'] }}</td>
                    <td>{{ film['yearReleased'] }}</td>
                    <td>{{ film['Rating'] }}</td>
                    <td>{{ film['duration'] }}</td>
                    <td>{{ film['genre'] }}</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-warning btn-sm mr-2" href="{{ url_for('update', film_id=film['filmID']) }}">Update Film</a>
                            <form action="{{ url_for('delete', film_id=film['filmID']) }}" method="post" onsubmit="return confirm('Are you sure you want to delete this film?');">
                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}



















<!-- version 2, working
<h1> FilmFlix </h1>
<hr>
{% for film in films %}
<h2>{{film['title']}}</h2>
<p>{{film['filmID']}}</p>
<p>{{film['yearReleased']}}</p>
<p>{{film['Rating']}}</p>
<p>{{film['duration']}}</p>
<p>{{film['genre']}}</p>

<button>
    <a href="{{url_for('update', film_id=film['filmID'])}}">Update Film</a>

</button>

<form action="{{ url_for('delete', film_id=film['filmID']) }}" method="post" onsubmit="return confirm('Are you sure you want to delete this film?');">
    <input type="submit" value="Delete">
</form>
<hr> 
{% endfor %}
-->
















